* {
  margin: 0;
  padding: 0;
}

@viewport {
  user-zoom: fixed;
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../../Sprites/Story Mode/Used_Frame 5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  width: 100%;
  z-index: 100;
}

.header-interface-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-ui-container {
  display: flex;
  flex-direction: column;
}

.header-navigation-btn,
.level-btn {
  width: 5vw;
  height: 5vw;
  margin: .5vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.header-navigation-list-icon {
  width: 3vw;
  margin-top: 15%;
}

.energy-counter {
  display: flex;
  justify-content: center;
  background-image: url('../../Sprites/Frames/Used_Frame_12.png');
  background-size: 100% 100%;
  position: relative;
  margin: 1.5vw;
  width: 3vw;
}

.energy-text {
  color: #FFF6C6;
  font-weight: bold;
  font-size: 1.5vw;
  padding-right: 1vw;
}

.energy-counter>img {
  width: 2.5vw;
  position: absolute;
  right: -1vw;
}


/* cards container */

main {
  width: 97vw;
  overflow: hidden;
}

.collection-navigation {
  background: #E1569E;
  background: -moz-linear-gradient(top, #E1569E 0%, #CA39A1 50%, #A420A2 100%);
  background: -webkit-linear-gradient(top, #E1569E 0%, #CA39A1 50%, #A420A2 100%);
  background: linear-gradient(to bottom, #E1569E 0%, #CA39A1 50%, #A420A2 100%);
  border-radius: 2vh;
}

.collection-navigation>ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.categories-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-btn {
  width: 97%;
  color: #FFF6C6;
  background: none;
  border: none;
  font-size: 1.7vw;
  padding: 1vh;
  margin: 1vh auto;
  position: relative;
}

.categories-btn:hover {
  border: 1px solid #42e0e0;
  border-radius: 2vh;
  margin-top: -1px;
  margin-bottom: -1px;
}

.active-btn {
  border-radius: 2vh;
}

.active-btn::after {
  content: '_____';
  position: absolute;
  bottom: -1vh;
  left: 50%;
  font-size: 6vh;
  transform: translate(-50%);
  color: #FFF6C6;
}

.achievements {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
  height: 82vh;
}

.achievement {
  background-color: #ffffff49;
  border-radius: 2vh;
  border: 1px solid #ffffff49;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vh;
  -webkit-box-shadow: 5px 5px 5px -5px #000000;
  box-shadow: 5px 5px 5px -5px #000000;
  scroll-snap-align: center;
}

.achievement-lable,
.achievement-status {
  display: flex;
  align-items: center;
  margin: 0 1vw;
  gap: 1vw;
}
.achievement-lable{
  max-width: 60%;
}
.achievement-icon {
  width: 8vh;
}

.achievement-title {
  color: #fff;
  font-size: 2.3vh;
  text-wrap: nowrap;
  margin-right: 4vw;
}

.achievement-status {
  justify-content: flex-end;
  width: 100%;
}

.status-panel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 4vh;
  border-radius: 2vh;
  background: #006400;
  background: -moz-linear-gradient(top, #006400 0%, #008E00 50%, #00A200 100%);
  background: -webkit-linear-gradient(top, #006400 0%, #008E00 50%, #00A200 100%);
  background: linear-gradient(to bottom, #006400 0%, #008E00 50%, #00A200 100%);
}

.status-slider {
  height: 4vh;
  width: 30%;
  border-radius: 2vh;
  background: #ffdd42;
  background: -moz-linear-gradient(top, #ffdd42 0%, #feaa18 50%, #f77105 100%);
  background: -webkit-linear-gradient(top, #ffdd42 0%, #feaa18 50%, #f77105 100%);
  background: linear-gradient(to bottom, #ffdd42 0%, #feaa18 50%, #f77105 100%);
}

.status-info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 2.2vh;
}

.energy-btn {
  background-color: #00000043;
  border-radius: 2vh;
  width: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  -webkit-box-shadow: 5px 5px 5px -5px #0000008c;
  box-shadow: 0px 2px 2px 0 #00000074;
}

.energy-icon {
  width: 70%;
  margin-top: 0.5vw;
  margin-bottom: -1.5vh;
}

.energy-btn-title {
  color: #fff;
  font-size: 2.5vh;
}

.statistic-counter {
  color: #fff;
  font-size: 3.5vh;
  margin-right: 2vw;
}

.get-btn {
  background: url('../../Sprites/Buttons/Used_Button_03.png');
  font-size: 1.8vh;
  border-radius: 1vh;
  border: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2.5vh 1.1vh;
}

.get-btn-title {
  font-weight: bold;
  color: #00000049;
  padding: 1.6vh 0;
}

@media screen and (orientation: landscape) {
  .collection-navigation {
    margin-bottom: 2vh;
  }

}

@media screen and (orientation: portrait) {
  .header-navigation-btn {
    width: 17vw;
    height: 17vw;
    margin: 2vw;
  }

  .header-navigation-list-icon {
    width: 10vw;
  }
  main{
    width: 90vw;
  }
  .energy-counter{
    width: 7vw;
    margin: 2vh;
  }
  .energy-text{
    font-size: 4vw;
  }
  .energy-counter>img{
    width: 7.5vw;
    right: -3vw;
  }
  .collection-navigation {
    border-radius: 1.5vh;
    margin-bottom: 2vh;
    box-shadow: 0px 3px 5px 2px #0000007d;
  }
  .categories-btn{
    font-size: 5.5vw;
  }
  .achievement-title{
    text-wrap: wrap;
    font-size: 1.7vh;
  }
  .energy-btn{
    width: 10vh;
    margin: 0 1vw;
  }
  .statistic-counter{
    font-size: 2.5vh;
  }
}

.hidden {
  display: none;
}