* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #009e00;
  background-image: url('./Sprites/Backgrounds/Background_MainMenu.jpg');
  background-size: cover;
  background-position: center;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  width: 100vw;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  text-decoration: none;
}

.mask {
  width: 100%;
  height: 100%;
  background: #009e00;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
}

.header-navigation {
  z-index: 1000;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100vw;
}

.nav-btn {
  display: flex;
  flex-direction: column;
}

.header-navigation-btn {
  width: 5vw;
  height: 5vw;
  margin: 0.5vw 0.5vw 0;
  background: url('./Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
}

.header-navigation-list-icon {
  width: 3vw;
  margin-top: -5%;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 80vw;
  display: flex;
  justify-content: center;
}

.logo-icon {
  margin: 0 auto;
  width: 35vh;
}

.btn-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
}

.main-panel-btn-container-1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
}

.main-panel-btn-container-2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: auto;
}

.main-panel-btn-container-3 {
  grid-area: 1 / 3 / 2 / 4;
  margin: auto;
}

.background-title-container {
  grid-area: 2 / 2 / 3 / 3;
  margin: auto;
}

.main-panel-btn-container-4 {
  grid-area: 2 / 1 / 4 / 2;
  margin: auto;
}

.main-panel-btn-container-5 {
  grid-area: 2 / 2 / 4 / 3;
  margin: auto;
}

.main-panel-btn-container-6 {
  grid-area: 2 / 3 / 4 / 4;
  margin: auto;
}

.background-title {
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
}

.main-panel-btn {
  border-radius: 30px;
  width: 15vw;
  height: 5vw;
  margin: 0.5vh 0.5vw;
  border: none;
  background: url('./Sprites/Buttons/Used_Button_03.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.main-panel-btn-title {
  color: #9b6d00;
  font-weight: bold;
  font-size: 1.2vw;
  margin-top: -5%;
}

.main-panel-btn-level {
  color: #d3b927;
  font-weight: bold;
  font-size: 1.2vw;
}

.footer-container {
  width: 45vw;
}

.absolute-footer {
  width: inherit;
  position: absolute;
  bottom: 0;
  background-color: #ffffff45;
  border: 2px solid #8d8d8d5e;
  border-radius: 4vh 4vh 0 0;
  -webkit-box-shadow: inset 13px 13px 35px -1px #ffffff47;
  box-shadow: inset 13px 13px 35px -1px #ffffff47;
}

.absolute-footer>ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.absolute-footer>ul>li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

.control-btn {
  width: 6vw;
  height: 6vw;
  background: url('./Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
}

.control-button-list-icon {
  width: 3.5vw;
  margin-top: -10%;
}

.control-button-title {
  color: #ffffff;
  font-size: 1.1vw;
}

/* loader */
.banter-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 72px;
  height: 72px;
  margin-left: -36px;
  margin-top: -36px;
}

.banter-loader__box {
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.banter-loader__box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.banter-loader__box:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 6px;
}

.banter-loader__box:nth-child(1):before,
.banter-loader__box:nth-child(4):before {
  margin-left: 26px;
}

.banter-loader__box:nth-child(3):before {
  margin-top: 52px;
}

.banter-loader__box:last-child {
  margin-bottom: 0;
}

@keyframes moveBox-1 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(0px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 0px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(1) {
  animation: moveBox-1 4s infinite;
}

@keyframes moveBox-2 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 26px);
  }

  54.5454545455% {
    transform: translate(26px, 26px);
  }

  63.6363636364% {
    transform: translate(26px, 26px);
  }

  72.7272727273% {
    transform: translate(26px, 26px);
  }

  81.8181818182% {
    transform: translate(0px, 26px);
  }

  90.9090909091% {
    transform: translate(0px, 26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(2) {
  animation: moveBox-2 4s infinite;
}

@keyframes moveBox-3 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(-26px, 0);
  }

  54.5454545455% {
    transform: translate(-26px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(3) {
  animation: moveBox-3 4s infinite;
}

@keyframes moveBox-4 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, 0px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(-26px, -26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(4) {
  animation: moveBox-4 4s infinite;
}

@keyframes moveBox-5 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(0, 0);
  }

  27.2727272727% {
    transform: translate(0, 0);
  }

  36.3636363636% {
    transform: translate(26px, 0);
  }

  45.4545454545% {
    transform: translate(26px, 0);
  }

  54.5454545455% {
    transform: translate(26px, 0);
  }

  63.6363636364% {
    transform: translate(26px, 0);
  }

  72.7272727273% {
    transform: translate(26px, 0);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(0px, -26px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(5) {
  animation: moveBox-5 4s infinite;
}

@keyframes moveBox-6 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(0px, 0);
  }

  72.7272727273% {
    transform: translate(0px, 26px);
  }

  81.8181818182% {
    transform: translate(-26px, 26px);
  }

  90.9090909091% {
    transform: translate(-26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(6) {
  animation: moveBox-6 4s infinite;
}

@keyframes moveBox-7 {
  9.0909090909% {
    transform: translate(26px, 0);
  }

  18.1818181818% {
    transform: translate(26px, 0);
  }

  27.2727272727% {
    transform: translate(26px, 0);
  }

  36.3636363636% {
    transform: translate(0px, 0);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(26px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(0px, 0px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(7) {
  animation: moveBox-7 4s infinite;
}

@keyframes moveBox-8 {
  9.0909090909% {
    transform: translate(0, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(-26px, -26px);
  }

  36.3636363636% {
    transform: translate(0px, -26px);
  }

  45.4545454545% {
    transform: translate(0px, -26px);
  }

  54.5454545455% {
    transform: translate(0px, -26px);
  }

  63.6363636364% {
    transform: translate(0px, -26px);
  }

  72.7272727273% {
    transform: translate(0px, -26px);
  }

  81.8181818182% {
    transform: translate(26px, -26px);
  }

  90.9090909091% {
    transform: translate(26px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.banter-loader__box:nth-child(8) {
  animation: moveBox-8 4s infinite;
}

@keyframes moveBox-9 {
  9.0909090909% {
    transform: translate(-26px, 0);
  }

  18.1818181818% {
    transform: translate(-26px, 0);
  }

  27.2727272727% {
    transform: translate(0px, 0);
  }

  36.3636363636% {
    transform: translate(-26px, 0);
  }

  45.4545454545% {
    transform: translate(0px, 0);
  }

  54.5454545455% {
    transform: translate(0px, 0);
  }

  63.6363636364% {
    transform: translate(-26px, 0);
  }

  72.7272727273% {
    transform: translate(-26px, 0);
  }

  81.8181818182% {
    transform: translate(-52px, 0);
  }

  90.9090909091% {
    transform: translate(-26px, 0);
  }

  100% {
    transform: translate(0px, 0);
  }
}

.banter-loader__box:nth-child(9) {
  animation: moveBox-9 4s infinite;
}


/* pop-up */

.popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-content {
  background: #1EB20D;
  background: -moz-linear-gradient(-45deg, #1EB20D 0%, #007600 50%, #006000 100%);
  background: -webkit-linear-gradient(-45deg, #1EB20D 0%, #007600 50%, #006000 100%);
  background: linear-gradient(135deg, #1EB20D 0%, #007600 50%, #006000 100%);
  width: 44vw;
  border-radius: 2vh;
  margin-right: 1vw;
  -webkit-box-shadow: 0px 3px 2px 0px #003605;
  box-shadow: 0px 3px 2px 0px #003605;
  position: relative;
}

.bounty-popup-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.8;
  margin-top: 15vh;
}

.bounty{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bounty-icon{
  width: 7vh;
}

.bounty-title{
  color: #fff;
}

.double-bounty-by-ads-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.get-double-bounty-btn {
  border-radius: 2vw;
  margin-bottom: 1vw;
  width: 23vh;
  height: 8vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
}

.get-double-bounty-btn-title {
  font-weight: bold;
  color: #0000005c;
  font-size: 2.1vh;
}

.get-double-bounty-icon {
  width: 4vh;
}

.get-double-bounty-value{
  font-weight: bold;
  color: #0000005c;
  font-size: 2.1vh;
}
.interactive-btn-info{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cancel-bounty-btn{
  color: #fff;
  text-decoration: underline;
  font-size: 2.5vh;
  font-weight: bold;
  text-align: center;
}

.settings>.popup-content {
  width: 30vw;
}

.web-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('./Sprites/Frames/Used_Web.png');
  background-size: 100% 100%;
  z-index: 1;
}

/* pop-us visual */

.booster-icon,
.rules-icon,
.btn-info-icon,
.rewards-icon {
  width: 5vw;
}

.popup-header {
  background: #db4c9f;
  background: -moz-linear-gradient(top, #db4c9f 0%, #c637a2 50%, #ad24a5 100%);
  background: -webkit-linear-gradient(top,
      #db4c9f 0%,
      #c637a2 50%,
      #ad24a5 100%);
  background: linear-gradient(to bottom, #db4c9f 0%, #c637a2 50%, #ad24a5 100%);
  display: flex;
  border-radius: 2vh 2vh 0 0;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 3px 2px 0px #690e6f;
  box-shadow: 0px 3px 2px 0px #690e6f;
  margin-bottom: 2vh;
}

.close-popup {
  width: 3vw;
  position: absolute;
  right: 0.5vw;
  top: 0.5vw;
  z-index: 10;
}

.popup-header>h3 {
  color: #fff6c6;
  font-size: 1.9vw;
  margin: 1vw auto;
}

.daily-boosters-container {
  display: flex;
  justify-content: center;
  margin: 1vw;
}

.regular-boosters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regular-daily {
  display: flex;
  flex-wrap: wrap;
}

.booster,
.special-booster {
  background-color: #ffffff4c;
  border: 1px solid #ffffff4c;
  border-radius: 1vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5vw 0.2vw;
  padding: 0.5vw;
  box-shadow: 0px 3px 2px 0px #00000054;
  z-index: 10;
}

.special-booster {
  height: inherit;
  width: 25vw;
}

.daily-boosters-container>.booster {
  width: 7vw;
  height: 7vw;
}

.regular-boosters-container>.booster {
  padding-top: 1.5vw;
  margin-bottom: 2vw;
  margin: 1vw;
}

.booster-type {
  background: #f78294;
  background: -moz-linear-gradient(-45deg,
      #f78294 0%,
      #d33fa2 50%,
      #b22ba2 100%);
  background: -webkit-linear-gradient(-45deg,
      #f78294 0%,
      #d33fa2 50%,
      #b22ba2 100%);
  background: linear-gradient(135deg, #f78294 0%, #d33fa2 50%, #b22ba2 100%);
  border-radius: 1vw;
  position: relative;
  width: 7vw;
  height: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 2px 0px #690e6f;
  border: 1px solid #000;
  margin: 1vw auto;
}

.completed-flag {
  visibility: hidden;
  background-color: #efcf05;
  border: 1px solid #000;
  border-radius: 2vw;
  margin-top: -2.3vw;
  color: #fff;
  font-size: 1.3vw;
  font-weight: bold;
  padding: 0 1.6vw;
  box-shadow: 0px 3px 2px 0px #00000034;
}

.booster.ready>.completed-flag,
.special-booster.ready>.completed-flag {
  visibility: visible;
}

.booster.ready,
.special-booster.ready {
  border: 1px solid #7dff6f;
}

.booster.completed>.complete-overlay,
.special-booster.completed>.complete-overlay {
  visibility: visible;
}

.complete-overlay {
  visibility: hidden;
  position: absolute;
  background-color: #005500aa;
  border-radius: 0.75vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 1.2vw;
  font-weight: bold;
  color: #ecff98;
}

.booster-title,
.special-booster-title {
  font-size: 1.3vw;
  align-self: start;
  color: #05e2d7;
  font-weight: bold;
}

.special-booster-title {
  font-size: 1.8vw;
  color: #efcf05;
}

.booster-counter {
  color: #fff6c6;
  font-weight: 700;
  font-size: 1.3vw;
  /* margin-bottom: 1vw; */
  text-align: center;
}

.booster-icon {
  width: 4.5vw;
  margin: -0.3vw 0;
}

.special-booster-icon {
  width: 8vw;
}

.booster-type {
  position: relative;
}

.booster-type:hover::before {
  content: attr(data-text);
  display: block;
  position: absolute;
  background: #61AC59;
  background: -moz-linear-gradient(-45deg, #61AC59 0%, #0B7909 69%, #005003 100%);
  background: -webkit-linear-gradient(-45deg, #61AC59 0%, #0B7909 69%, #005003 100%);
  background: linear-gradient(135deg, #61AC59 0%, #0B7909 69%, #005003 100%);
  box-shadow: 0px 3px 2px 0px #00000034;
  color: white;
  font-size: 1.8vh;
  text-align: center;
  width: 22vh;
  padding: 1vh;
  border-radius: 2vh;
  top: -15vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.booster-type>.booster-icon {
  width: 6vw;
  margin-top: -2vw;
}

.start-level-btn {
  border-radius: 2vw;
  width: 10vw;
  height: 4vw;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  background-image: url('./Sprites/Buttons/Used_Button_03.png');
}

.start-level-btn-title {
  font-weight: bold;
  color: #0000005c;
  font-size: 1.1vw;
}

.btn-info-icon {
  width: 2vw;
}

.settings-panel {
  display: flex;
  justify-content: space-evenly;
  background: #4fc044;
  background: -moz-linear-gradient(-45deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  background: -webkit-linear-gradient(-45deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  background: linear-gradient(135deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  margin-bottom: 1vw;
  margin-top: -1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  box-shadow: 0px 3px 2px 0px #00000054;
}

.setting-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.special-language-btn {
  border: none;
  background: none;
}

.settings-btn-title {
  color: #fff;
  font-size: 1.2vw;
}

.version {
  display: flex;
  justify-content: end;
  margin: 0 1vw 1vw;
}

.version-title {
  color: #fff;
  font-size: 0.8vw;
  font-weight: bold;
}


@media only screen and (max-width: 768px) and (orientation: portrait) {
  .header-navigation-btn {
    width: 15vw;
    height: 15vw;
    margin: 2vw;
  }

  .header-navigation-list-icon {
    width: 8vw;
  }

  .logo {
    width: 50%;
  }

  .background-title {
    font-size: 4vw;
  }

  .main-panel-btn {
    border-radius: 30px;
    width: 30vw;
    height: 12vw;
  }

  .main-panel-btn-title {
    font-size: 2.5vw;
  }

  .main-panel-btn-level {
    font-size: 2.5vw;
  }

  .footer-container {
    width: 90vw;
  }

  .absolute-footer {
    width: 90vw;
    padding-top: 2vw;
    border-radius: 3vh 3vh 0 0;
  }

  .control-btn {
    width: 13vw;
    height: 13vw;
  }

  .control-button-list-icon {
    width: 8vw;
  }

  .control-button-title {
    font-size: 2.5vw;
    padding-bottom: 2vw;
  }

  .popup-content {
    width: 90vw;
    border-radius: 2.5vw;
  }

  .popup-header {
    border-radius: 1vh 1vh 0 0;
  }

  .close-popup {
    width: 7vw;
    right: 1vw;
    top: 1vw;
  }

  .popup-header>h3 {
    font-size: 5vw;
  }

  .booster {
    position: relative;
    border-radius: 1vh;
    margin: 0.5vw;
    width: 17vw;
  }

  .special-booster {
    width: 50vw;
  }

  .special-booster-title {
    font-size: 3.4vw;
  }

  .completed-flag {
    font-size: 2vw;
  }

  .booster-title,
  .booster-counter {
    font-size: 3vw;
  }

  .booster-icon {
    width: 10vw;
  }

  .booster-type {
    width: 14vw;
    height: 14vw;
    padding-bottom: 0.2vw;
    border-radius: 2.5vw;
  }
  
  .booster-type:hover::before {
    top: -10vh;
  }
  .booster-type>.booster-icon {
    width: 14vw;
    margin-top: -3vw;
  }

  .special-booster-icon {
    width: 18vw;
  }

  .start-level-btn {
    margin-top: 1vw;
    border-radius: 2vw;
    width: 20vw;
    height: 8vw;
  }

  .regular-boosters-container {
    margin-bottom: 3vw;
  }

  .regular-boosters-container>.booster {
    padding: 2.5vw;
    margin: 1vw 2vw;
    padding-bottom: 0;
  }

  .start-level-btn-title {
    font-size: 2.1vw;
    font-weight: 800;
  }

  .btn-info-icon {
    width: 4vw;
  }

  .settings>.popup-content {
    width: 80vw;
  }

  .settings-panel {
    margin-top: -3vw;
  }

  .settings-btn-title {
    font-size: 3.2vw;
    margin-top: -2.5vw;
  }

  .version-title {
    font-size: 2.1vw;
    margin-right: 2vw;
  }
}

/* Custom full width rules */

@media (min-aspect-ratio: 10/5) {
  .footer-container {
    width: 60vh;
    max-height: 30vh;
  }

  .absolute-footer {
    width: inherit;
  }

  .control-btn {
    width: 8vh;
    height: 8vh;
  }

  .control-button-list-icon {
    width: 5vh;
  }

  .control-button-title {
    font-size: 1.5vh;
  }
}

.hidden {
  display: none;
}

.hidden-popup{
  opacity: 0;
}
.hidden-popup>.popup-content{
  scale: 0;
}
.visible {
  opacity: 1;
}
.visible>.popup-content{
  scale: 1;
}
#bounty-popup{
  transition: opacity 0.5s ease;
}
.popup-content{
  transition: scale 0.5s ease;
}