* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #007400;
  background-image: url('./Sprites/Backgrounds/Background_MainMenu.jpg');
  background-size: 100% 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  width: 100vw;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100vw;
}

.header-navigation-btn {
  width: 6vw;
  height: 6vw;
  margin: 2vw;
  background: url('./Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
}

.header-navigation-list-icon {
  width: 4vw;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 15vw;
}

.logo-icon {
  width: 100%;
}

.btn-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.main-panel-btn-container-1 {
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;
}
.main-panel-btn-container-2 {
  grid-area: 1 / 2 / 2 / 3;
  margin: auto;
}
.main-panel-btn-container-3 {
  grid-area: 1 / 3 / 2 / 4;
  margin: auto;
}
.background-title-container {
  grid-area: 2 / 2 / 3 / 3;
  margin: auto;
}
.main-panel-btn-container-4 {
  grid-area: 3 / 1 / 4 / 2;
  margin: auto;
}
.main-panel-btn-container-5 {
  grid-area: 3 / 2 / 4 / 3;
  margin: auto;
}
.main-panel-btn-container-6 {
  grid-area: 3 / 3 / 4 / 4;
  margin: auto;
}

.background-title {
  text-align: center;
  color: #ffffff;
  font-size: 2vw;
}

.main-panel-btn {
  border-radius: 30px;
  width: 15vw;
  height: 5vw;
  margin: 0.5vh 0.5vw;
  border: none;
  background: url('./Sprites/Buttons/Used_Button_2.2.png') no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.main-panel-btn-title {
  color: #007804;
  font-weight: bold;
  font-size: 1.5vw;
}

.main-panel-btn-level {
  color: #007804;
  font-size: 1.5vw;
}

footer {
  min-height: 30vh;
}

.footer-container {
  width: 45vw;
}
.absolute-footer {
  width: 45vw;
  position: absolute;
  bottom: 0;
  background-image: url('./Sprites/Frames/Used_Frame_01.png');
  background-size: 100% 100%;
}

.absolute-footer > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.absolute-footer > ul > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

.control-btn {
  width: 6vw;
  height: 6vw;
  background: url('./Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
}

.control-button-list-icon {
  width: 4vw;
}

.control-button-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5vw;
}
