/* <<<<<<< HEAD */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.sol-slot.removed {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

.sol-slot {
  background-color: rgba(0, 0, 0, 0);
}

img {
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  width: 100%;
}

.header-interface-list {
  display: flex;
  justify-content: space-between;
  background-color: #00000044;
  list-style-type: none;
}

.header-ui-container {
  display: flex;
  flex-direction: column;
}

.header-navigation-btn {
  width: 2.5vw;
  height: 2.5vw;
  margin: .2vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.header-navigation-list-icon {
  width: 1.5vw;
  margin-top: 15%;
}

.counter-text {
  color: #ffffff;
  font-size: 1.8vw;
}

.step-icon {
  width: 2vw;
  margin-bottom: -10%;
}

main {
  flex: 1 1 auto;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.active-cards-zone,
.bottom-cards-zone {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.active-cards-container {
  background-color: #0000003d;
}

.active-cards-container,
.cards-container,
.extra-cards-container {
  width: 6vw;
  height: 8vw;
  border-radius: 0.5vw;
}

.extra-cards-container {
  display: flex;
  flex-direction: row-reverse;
}

.cards-container {
  display: flex;
  background-color: #0000003d;
}

:root {
  --closed-card-offset: -7.5vw;
  --opened-card-offset: -6.5vw;
  --card-height: 8vw;
}

.active-cards-container>.card-element.closed:not(:first-child, .locked) {
  margin-top: -7.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
}

.active-cards-container>.card-element.first:not(:first-child, .locked) {
  margin-top: -7.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
}

.active-cards-container>.card-element.opened:not(:first-child, .first, .locked) {
  margin-top: -6.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
}

.active-cards-container>.card-element.locked:not(:first-child) {
  margin-top: -8vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
}

.card-element.highlighted {
  border-color: #ffff00a1;
  box-shadow: 0 0 3px 3px #ffff00a1;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
}

.card-locker-hidden {
  scale: 0 0;
  margin-top: -8vw;
}

.card-locked-showed {
  margin-top: -6.5vw;
  width: 6vw;
  height: 8vw;
  scale: 1 1;
  background-image: url('../../Sprites/card_lock.png');
  background-size: contain;
  background-repeat: no-repeat;

  transition: scale 0.25s ease;
}

.active-cards-container>.card-element.opened.selected {
  margin-top: -6.5vw;
  width: 6.6vw;
  height: 8.8vw;
  margin-left: -0.3vw;
  transition: all 0.25s ease;
}

.active-cards-container>.card-element.opened.selected:not(.first) {
  margin-top: -7vw;
  width: 6.6vw;
  height: 8.8vw;
  margin-left: -0.3vw;
  transition: all 0.25s ease;
}

.story-mode-card-zone {
  height: 50%;
  min-height: 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.steps-counter-container {
  display: flex;
  justify-content: space-between;
}

.timer {
  margin-right: 10vw;
}

.extra-cards-container>.card-element:not(:last-child) {
  margin-left: -5.98vw;
}

.cards-container>.card-element:not(:first-child) {
  margin-left: -6.05vw;
}

.card-element {
  width: 6vw;
  height: 8vw;
  min-width: 6vw;
}

.closed {
  background-size: cover;
}

footer {
  margin: auto 0;
}

.footer-control-panel {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.control-btn {
  width: 4vw;
  height: 4vw;
  margin: .5vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.control-button-list-icon {
  width: 2.5vw;
  margin-top: 15%;
}


@media only screen and (orientation: portrait) {
  /* Cards sizes */

  .active-cards-container,
  .cards-container,
  .extra-cards-container,
  .card-element,
  .test-card {
    width: 9.6vw;
    height: 13vw;
  }

  .header-navigation-btn {
    width: 7vw;
    height: 7vw;
    margin: .5vw;
  }

  .header-navigation-list-icon {
    width: 5vw;
    margin-top: 10%;
  }

  :root {
    --closed-card-offset: -11.5vw;
    --opened-card-offset: -10vw;
    --card-height: 13vw;
  }

  .active-cards-container>.card-element.closed:not(:first-child, .locked) {
    margin-top: -11.5vw;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.first:not(:first-child, .locked) {
    margin-top: -11.5vw;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.opened:not(:first-child, .first, .locked) {
    margin-top: -10vw;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.locked:not(:first-child) {
    margin-top: -12.6vw;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease, margin-left 0.25s ease;
  }

  .counter-text {
    font-size: 5vw;
  }

  .step-icon {
    width: 6vw;
  }

  main {
    margin-top: 2vw;
  }

  .main-container {
    max-height: 125vw;
    width: 95vw;
  }

  .extra-cards-container>.card-element:not(:last-child) {
    margin-left: -8vw;
    width: 9.6vw;
  }

  .cards-container>.card-element:not(:first-child) {
    margin-left: -8vw;
  }

  .cards-container.hidden {
    width: 1vw;
  }

  .bottom-cards-zone,
  .active-cards-zone {
    width: 104.5%;
  }

  .control-btn {
    width: 12vw;
    height: 12vw;
    margin: 1vw;
  }

  .control-button-list-icon {
    width: 9vw;
    margin-top: 5%;
  }
}

@media only screen and (orientation: landscape) {
  /* Cards sizes */

  .active-cards-container,
  .cards-container,
  .extra-cards-container,
  .card-element {
    width: 6vw;
    height: 8vw;
  }

  main {
    margin: 1vw;
  }

  .main-container {
    width: 70vw;
  }
}