/* <<<<<<< HEAD */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.hidden {
  visibility: hidden;
}

.hidden-popup {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.hidden-popup>.popup-content {
  scale: 0;
}

.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.visible>.popup-content {
  scale: 1;
}

#bounty-popup {
  transition: opacity 0.5s ease;
}

.popup-content {
  transition: scale 0.5s ease;
}


body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.selected,
img.selected,
button.selected {
  filter: drop-shadow(0px 0px 0.5vw #42FDFF) drop-shadow(0px 0px 0.5vw #42FDFF);
}

.sol-slot.removed {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}

.sol-slot {
  background-color: rgba(0, 0, 0, 0);
}

img {
  -webkit-user-drag: none;
}

body::-webkit-scrollbar {
  width: 0;
}

header {
  width: 100%;
}

.header-interface-list {
  display: flex;
  justify-content: space-between;
  background-color: #00000044;
  list-style-type: none;
}

.header-ui-container {
  display: flex;
  flex-direction: column;
}

.header-navigation-btn {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.2vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.header-navigation-list-icon {
  width: 1.5vw;
  margin-top: 15%;
}

.counter-text {
  color: #ffffff;
  font-size: 1.8vw;
  --target-font-size: 1.8vw;
}

.step-icon {
  width: 2vw;
  margin-bottom: -10%;
}


/* pop-up */

.popup {
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.lose-screen-popup {
  justify-content: center;
}

.end-level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.end-level-title {
  margin-bottom: 4vh;
  font-size: 3.5vh;
  --target-font-size: 3.5vh;
}

.lose-level {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25vh;
}

.lose-level-title {
  font-size: 4.5vh;
  --target-font-size: 4.5vh;
  color: #d64646;
}

.lose-btns-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lose-screen-ads-icon {
  width: 4vh;
}

.refresh-btn,
.home-page-btn {
  width: 7vh;
  height: 7vh;
  margin: 0.5vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.refresh-btn {
  margin-right: 3vw;
}

.popup_back-to {
  position: absolute;
  top: 2vh;
  right: 2vh;
}

.new-achievements {
  font-size: 2.5vh;
  --target-font-size: 2.5vh;
}

.bounty-list {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  margin-bottom: -7vh;
}

#win-screen-rewards {
  display: flex;
  justify-content: center;
}

.custom-line {
  width: 6vw;
  height: 1px;
  background-color: #fff;
}

.bounty-title {
  font-size: 2vh;
  --target-font-size: 2vh;
  margin: 0 1vw;
}

.next-btn {
  border-radius: 2vw;
  width: 23vh;
  height: 8vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
  margin-bottom: 5vh;
}

.next-ads-btn {
  border-radius: 2vw;
  width: 23vh;
  height: 8vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
}

.next-btn-title {
  font-weight: bold;
  color: #0000005c;
  font-size: 2.1vh;
  --target-font-size: 2.1vh;
}

.settings>.popup-content {
  width: 45vh;
}

.settings {
  justify-content: center;
}

.popup-content {
  background: #1EB20D;
  background: -moz-linear-gradient(-45deg, #1EB20D 0%, #007600 50%, #006000 100%);
  background: -webkit-linear-gradient(-45deg, #1EB20D 0%, #007600 50%, #006000 100%);
  background: linear-gradient(135deg, #1EB20D 0%, #007600 50%, #006000 100%);
  width: 44vw;
  border-radius: 2vh;
  margin-right: 1vw;
  -webkit-box-shadow: 0px 3px 2px 0px #003605;
  box-shadow: 0px 3px 2px 0px #003605;
  position: relative;
}

.languages>.popup-content {
  width: 40vh;
  max-width: 90%;
}

.popup-header {
  background: #db4c9f;
  background: -moz-linear-gradient(top, #db4c9f 0%, #c637a2 50%, #ad24a5 100%);
  background: -webkit-linear-gradient(top,
      #db4c9f 0%,
      #c637a2 50%,
      #ad24a5 100%);
  background: linear-gradient(to bottom, #db4c9f 0%, #c637a2 50%, #ad24a5 100%);
  display: flex;
  border-radius: 2vh 2vh 0 0;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 0px 3px 2px 0px #690e6f;
  box-shadow: 0px 3px 2px 0px #690e6f;
  margin-bottom: 2vh;
}

.close-popup {
  width: 3vw;
  position: absolute;
  right: 0.5vw;
  top: 0.5vw;
  z-index: 10;
}

.popup-header>h3 {
  color: #fff6c6;
  font-size: 3vh;
  --target-font-size: 3vh;
  margin: 1vw auto;
}

.menu {
  justify-content: center;
}

.menu>.popup-content {
  width: 50vh;
}

.exid-game {
  justify-content: center;
}

.exid-game>.popup-content {
  width: 55vh;
}

.popup-header>.exid-tab-title {
  font-size: 2.5vh;
}

.start-level-btn {
  border-radius: 2vw;
  width: 17vh;
  height: 7vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5vw;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
}

.start-level-btn-title {
  font-weight: bold;
  color: #0000005c;
  font-size: 1.1vw;
}

.exid-btns-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3vh;
}

.settings-panel {
  display: flex;
  justify-content: space-evenly;
  background: #4fc044;
  background: -moz-linear-gradient(-45deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  background: -webkit-linear-gradient(-45deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  background: linear-gradient(135deg, #4fc044 0%, #2d9e26 50%, #127a12 100%);
  margin-bottom: 1vw;
  margin-top: -1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  box-shadow: 0px 3px 2px 0px #00000054;
}

.menu-control-panel {
  display: flex;
  justify-content: space-evenly;
  margin-top: -1vw;
  padding-top: 1vw;
}

.menu-btns-group {
  display: flex;
}

.setting-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12vh;
}


.settings-navigation-btn {
  width: 7.5vh;
  height: 7.5vh;
  margin: 0.2vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.settings-navigation-list-icon {
  width: 4.5vh;
  margin-top: 15%;
}

.special-language-btn {
  border: none;
  background: none;
}

.settings-btn-title {
  color: #fff;
  font-size: 1.2vw;
  --target-font-size: 1.2vw;
  height: 2vh;
}

.first-skins-line {
  display: flex;
  justify-content: space-around;
}

.skin-card,
.skin-card-back,
.background-card {
  background-color: #ffffff48;
  background-image: url('../../Sprites/Frames/Used_Frame_04.png');
  background-size: 150%;
  background-position: center;
  width: 17vh;
  border-radius: 2vh;
  border: 0.1vh solid #18ed00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
  margin: 1vh;
  position: relative;
}

.skin-card-back>.card-skin {
  width: 90%;
  margin: 1vh;
}

.skin-card-back>.skin-change-btn,
.background-card>.skin-change-btn {
  margin-top: -6vh;
}

.second-skins-line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-card-skin-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background-card>.skin-card {
  width: 34vh;
}

.skins-title {
  font-size: 2.5vh;
  --target-font-size: 2.5vh;
  color: #ffffff5c;
  display: block;
  height: 3vh;
  width: 18vh;
}

.background-card>.card-skin {
  width: 90%;
  border: 0.1vh solid #ffffffb2;
  border-radius: 2vh;
  margin: 1vh;
}

.skin-change-btn {
  border-radius: 1vh;
  border: none;
  width: 14vh;
  height: 6vh;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh 0.7vh 2vh;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
  font-size: 1.8vh;
  --target-font-size: 1.8vh;
}

.skin-change-btn-title {
  font-weight: bold;
  color: #00000049;
  padding: 1.6vh 0;
}

.card-skin {
  width: 22vh;
  margin-top: 1vw;
}

.background-card {
  height: 20vh;
  width: 36vh;
  justify-content: flex-end;
  background-image: url('../../Sprites/Card Backs/Card_Backs.png');
}

.tutorial-tab {
  justify-content: center;
}

.tutorial-screen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* height: 35vh; */
  height: 50vh;
  position: relative;
}

#fifth-tutorial-screen {
  align-items: center;
}

.tutorial-screen:first-child {
  height: 50vh;
}

.tutorial-cards-column {
  margin: 1vh;
}

/* .tutorial-cards-column>.tutorial-card-element,
.cards-deck>.tutorial-card-element {
  width: 10vh;
  height: 14vh;
} */

.tutorial-card-element {
  width: 10vh;
  height: 14vh;
}

.tutorial-cards-column>.tutorial-card-element:not(:first-child) {
  margin-top: -11vh;
}

.tutorial-cards-info {
  width: 40vh;
  margin-left: 15vh;
  font-size: 2.5vh;
  --target-font-size: 2.5vh;
  align-self: center;
}

.next-tutorial-screen-btn {
  border-radius: 1vh;
  border: none;
  width: 20vh;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh 0.7vh 2vh;
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
  font-size: 1.8vh;
  --target-font-size: 1.8vh;
  transform: translateY(200%);
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translate(-50%);
}

.next-tutorial-screen-btn-title {
  font-weight: bold;
  color: #00000049;
  padding: 1.6vh 0;
}

.movable-container-mask {
  width: 10vh;
  height: 14vh;
  position: absolute;
  background-color: #00970f51;
  border-radius: 1vh;
  left: 13.5vh;
  top: 15.5vh;
}

.movable-cards-column {
  background-color: #00970f51;
  border-radius: 1vh;
  width: 10vh;
  min-height: 14vh;
}

.selected-tutorial-column {
  outline: 0.5vh solid #85ff6f;
}

.cards-deck {
  width: 10vh;
  height: 14vh;
  position: absolute;
  left: 1vh;
  bottom: -18vh;
}

.full-tutorial-cards-column {
  width: 16vh;
  height: 60vh;
  background-size: 100% 100%;
}

.column-direction-screen {
  flex-direction: column;
}

.tutorial-cards-example {
  width: 75vh;
}

.tutorial-boosters-example {
  width: 65vh;
}

.decline-column {
  background-image: url('../../Sprites/Tutorial/Used_Tutorial_05_2.png');
}

.accept-column {
  margin-left: -4vh;
  background-image: url('../../Sprites/Tutorial/Used_Tutorial_05_1.png');
}

#fifth-tutorial-screen>.tutorial-cards-info,
#sixth-tutorial-screen>.tutorial-cards-info,
#seventh-tutorial-screen>.tutorial-cards-info {
  margin-left: 0;
}

#seventh-tutorial-screen>.tutorial-cards-info {
  transform: translateY(10vh);
}

#sixth-tutorial-screen,
#seventh-tutorial-screen {
  align-items: center;
}

.cards-deck>.tutorial-card-element:not(:first-child) {
  margin-top: -14.1vh;
}

.version {
  display: flex;
  justify-content: end;
  margin: 0 1vw 1vw;
}

.version-title {
  color: #fff;
  font-size: 0.8vw;
  --target-font-size: 0.8vw;
  font-weight: bold;
}

.languages {
  justify-content: center;
}

.languages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.5vh;
  margin-bottom: 1vh;
}

.language-container:hover {
  background-color: #00bcbf81;
  border-radius: 1vh;
}

.language {
  display: flex;
  align-items: center;
}

.language-icon {
  width: 4vh;
}

.language-title {
  color: #fff;
  font-weight: bold;
  font-size: 2.5vh;
  --target-font-size: 2.5vh;
  padding-left: 1vw;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vh;
  height: 4vh;
  border-radius: 1vh;
  -webkit-box-shadow: 0px 0px 2px 1px #00000049;
  box-shadow: 0px 0px 2px 1px #00000047;
  background-color: #003605;
}

.accept-checkbox-icon {
  width: 4vh;
}

.skins-collection-slider-tab {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.84);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.skins-collection-slider {
  margin-left: 1vw;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  column-gap: 2vw;
}

.skins-collection-slider>.skin-card {
  margin-left: 3vh;
}

.skins-collection-slider::-webkit-scrollbar {
  width: 0;
}

.check-icon,
.lock-icon {
  width: 7vh;
  z-index: 10;
}

.skin-card>.hidden,
.skin-card-back>.hidden,
.background-card>.hidden,
.story-mode-card-zone>.hidden {
  display: none;
}

#play-btn {
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
  font-size: 1.8vh;
  --target-font-size: 1.8vh;
}

.skins-collection-slider>.skin-card-back {
  height: 25vh;
  min-width: 18.75vh;
  justify-content: flex-end;
  background-image: url('../../Sprites/Card Backs/Card_Backs.png');
}

.skins-collection-slider>.background-card {
  height: 20vh;
  min-width: 36vh;
}

.lock-mask {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: #0000007b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2vh;
}

.mask-title {
  color: #fff6c6;
  font-size: 1.6vh;
  --target-font-size: 1.6vh;
  font-weight: bold;
  text-align: center;
}

.skins-collection-back-btn {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.2vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 2vh;
  left: 2vh;
}


.start-level-btn {
  border-radius: 1vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh 0.7vh 2vh;
}

#pick-area-2>.start-level-btn {
  width: 100%;
}

.start-level-btn-title {
  font-weight: bold;
  color: #00000049;
  padding: 1.6vh 0;
}

main {
  flex: 1 1 auto;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.active-cards-zone,
.bottom-cards-zone {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 1vw;
}

.active-cards-container {
  background-color: #0000003d;
}

.active-cards-container,
.cards-container,
.extra-cards-container {
  width: 6vw;
  height: 8vw;
  border-radius: 0.5vw;
}

.extra-cards-container {
  display: flex;
  flex-direction: row-reverse;
}

.cards-container {
  display: flex;
  background-color: #0000003d;
}

:root {
  --closed-card-offset: -7.5vw;
  --opened-card-offset: -6.5vw;
  --card-height: 8vw;
}

.active-cards-container>.card-element.closed:not(:first-child, .locked) {
  margin-top: -7.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
    margin-left 0.25s ease;
}

.active-cards-container>.card-element.first:not(:first-child, .locked) {
  margin-top: -7.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
    margin-left 0.25s ease;
}

.active-cards-container>.card-element.opened:not(:first-child, .first, .locked) {
  margin-top: -6.5vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
    margin-left 0.25s ease;
}

.active-cards-container>.card-element.locked:not(:first-child) {
  margin-top: -8vw;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
    margin-left 0.25s ease;
}

.card-element.highlighted {
  border-color: #ffff00a1;
  box-shadow: 0 0 3px 3px #ffff00a1;
  transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
    margin-left 0.25s ease;
}

.card-locker-hidden {
  scale: 0 0;
  margin-top: -8vw;
}

.card-locked-showed {
  margin-top: -6.5vw;
  width: 6vw;
  height: 8vw;
  scale: 1 1;
  background-image: url('../../Sprites/card_lock.png');
  background-size: contain;
  background-repeat: no-repeat;

  transition: scale 0.25s ease;
}

.active-cards-container>.card-element.opened {
  transition: width 0.25s ease, height 0.25s ease, margin-left 0.25s ease, margin-top 0.25s ease;
}

.extra-cards-container.selected,
.active-cards-container>.card-element.opened.selected,
.active-cards-container.selected {
  filter: none
}

.active-cards-container>.card-element.opened.selected {
  width: 6.6vw;
  height: 8.8vw;
  margin-left: -0.3vw;
  transition: width 0.25s ease, height 0.25s ease, margin-left 0.25s ease, margin-top 0.25s ease;
}

.active-cards-container>.card-element.opened.selected:not(:first) {
  margin-top: -6.5vw;
  transition: width 0.25s ease, height 0.25s ease, margin-left 0.25s ease, margin-top 0.25s ease;
}

.active-cards-container>.card-element.opened.selected:not(.first) {
  margin-top: -7vw;
  width: 6.6vw;
  height: 8.8vw;
  margin-left: -0.3vw;
  transition: width 0.25s ease, height 0.25s ease, margin-left 0.25s ease, margin-top 0.25s ease;
}

.story-mode-card-zone {
  height: 50%;
  min-height: 8vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.steps-counter-container {
  display: flex;
  justify-content: space-between;
}

.timer {
  margin-right: 10vw;
}

.extra-cards-container>.card-element:not(:last-child) {
  margin-left: -5.98vw;
}

.cards-container>.card-element:not(:first-child) {
  margin-left: -6.05vw;
}

.card-element {
  width: 6vw;
  height: 8vw;
  min-width: 6vw;
}

.closed {
  background-size: cover;
}

footer {
  margin: auto 0;
}

.footer-control-panel {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.control-btn {
  width: 4vw;
  height: 4vw;
  margin: 0.5vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
}

.home-page-btn>.control-button-list-icon {
  width: 4vh;
}

.refresh-btn>.control-button-list-icon {
  width: 4.2vh;
}

.control-button-list-icon {
  width: 2.5vw;
  margin-top: 15%;
}

.playable-card-column.selected>.card-element.selected-card,
.extra-cards-container.selected>.card-element:last-child,
.playable-card-column.selected>.card-element.opened:last-child {
  box-shadow: inset 0 0 2vw 0.2vw rgb(0, 157, 255);
  border-radius: 0.5vw;
}

.bounty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bounty-icon {
  width: 7vh;
}

.bounty-title {
  color: #fff;
}

.front-side-skins-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (orientation: portrait) {
  .close-popup {
    width: 7vw;
    right: 1vw;
    top: 1vw;
  }

  .skins-collection-back-btn {
    width: 7.5vw;
    height: 7.5vw;
  }

  /*< for exit screen */
  .exid-game>.popup-content {
    width: 40vh;
  }

  .popup-header>.exid-tab-title {
    font-size: 1.8vh;
  }

  .start-level-btn {
    margin-top: 1vw;
    border-radius: 2vw;
    width: 20vw;
    height: 8vw;
  }

  .start-level-btn-title {
    font-size: 2.1vw;
    font-weight: 800;
  }

  /* > */

  /* Cards sizes */
  .active-cards-container,
  .cards-container,
  .extra-cards-container,
  .card-element,
  .test-card {
    width: 8.8vw;
    height: 11.75vw;
  }

  .settings>.popup-content {
    width: 37vh;
  }

  .popup-header>h3 {
    font-size: 2.5vh;
    --target-font-size: 2.5vh;
  }

  .settings-btn-title {
    font-size: 3.2vw;
    --target-font-size: 3.2vw;
  }

  .close-popup {
    width: 7vw;
    right: 1.5vw;
    top: 1.5vw;
  }

  .skins-title {
    font-size: 2vh;
    --target-font-size: 2vh;
  }

  .card-skin {
    width: 19vh;
  }

  .skin-card,
  .skin-card-back {
    width: 14vh;
  }

  .background-card {
    height: 18vh;
    width: 31vh;
  }

  .version-title {
    font-size: 2.8vw;
    --target-font-size: 2.8vw;
    margin: 0 1vh 1vh 0;
  }

  /* .active-cards-container,
  .cards-container,
  .extra-cards-container,
  .card-element,
  .test-card {
    width: 13.5vw;
    height: 18vw;
  }
  .active-cards-zone, .bottom-cards-zone {
    column-gap: 0;
  }
  .bottom-cards-zone:last-child{
    transform: translate(-3%);
  }
  .active-cards-container>.card-element.closed:not(:first-child, .locked),
  .active-cards-container>.card-element.first:not(:first-child, .locked) {
    margin-top: -11.5vw;
  }
  .active-cards-container>.card-element.opened:not(:first-child, .first, .locked) {
    margin-top: -10vw;
  }
  .active-cards-container>.card-element.locked:not(:first-child) {
    margin-top: -12.6vw;
  } */

  .card-locked-showed {
    width: 8.8vw;
    height: 11.75vw;
  }

  .header-navigation-btn {
    width: 7vw;
    height: 7vw;
    margin: 0.5vw;
  }

  .header-navigation-list-icon {
    width: 5vw;
    margin-top: 10%;
  }

  :root {
    --closed-card-offset: -11.5vw;
    --opened-card-offset: -10vw;
    --card-height: 13vw;
  }

  .active-cards-container>.card-element.closed:not(:first-child, .locked) {
    margin-top: -4.5vh;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
      margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.first:not(:first-child, .locked) {
    margin-top: -4.5vh;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
      margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.opened:not(:first-child, .first, .locked) {
    margin-top: -4vh;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
      margin-left 0.25s ease;
  }

  .active-cards-container>.card-element.locked:not(:first-child) {
    margin-top: -5.4vh;
    transition: margin-top 0.25s ease, width 0.25s ease, height 0.25s ease,
      margin-left 0.25s ease;
  }

  .counter-text {
    font-size: 5vw;
    --target-font-size: 5vw;
  }

  .step-icon {
    width: 6vw;
  }

  main {
    margin-top: 2vw;
  }

  .main-container {
    max-height: 125vw;
    width: 95vw;
  }

  .extra-cards-container>.card-element:not(:last-child) {
    margin-left: -8vw;
    width: 9.6vw;
  }

  .cards-container>.card-element:not(:first-child) {
    margin-left: -8vw;
  }

  .cards-container.hidden {
    width: 1vw;
  }

  .bottom-cards-zone,
  .active-cards-zone {
    width: 104.5%;
  }

  .active-cards-zone {
    justify-content: space-between;
  }

  .bottom-cards-zone {
    justify-content: flex-start;
  }

  .bottom-cards-zone>.cards-container {
    margin-left: 0.5vw;
  }

  .control-btn {
    width: 12vw;
    height: 12vw;
    margin: 1vw;
  }

  .menu>.popup-content {
    width: 40vh;
  }

  .tutorial-screen {
    justify-content: space-evenly;
    width: 95%;
    height: 25vh;
  }

  .control-button-list-icon {
    width: 4.5vh;
    margin-top: 10%;
  }

  .tutorial-cards-info {
    width: 50vw;
    margin-left: 2vh;
    font-size: 1.2vh;
    --target-font-size: 1.2vh;
  }

  /* .tutorial-cards-column>.tutorial-card-element,
  .cards-deck>.tutorial-card-element {
    width: 6.5vh;
    height: 9vh;
  }
   */
  .tutorial-card-element {
    width: 6.5vh;
    height: 9vh;
  }

  .tutorial-cards-column>.tutorial-card-element:not(:first-child) {
    margin-top: -7vh;
  }

  .cards-deck {
    bottom: -20vh;
  }

  .cards-deck>.tutorial-card-element:not(:first-child) {
    margin-top: -9.1vh;
  }

  #fifth-tutorial-screen>.tutorial-screen,
  #first-tutorial-screen>.tutorial-screen {
    align-items: center;
  }

  .full-tutorial-cards-column {
    width: 11vh;
    height: 40vh;
  }

  .next-tutorial-screen-btn {
    bottom: 10vh;
  }

  #sixth-tutorial-screen,
  #seventh-tutorial-screen {
    height: auto;
    margin-bottom: 35vh;
    transform: translateY(75%);
  }

  #seventh-tutorial-screen {
    transform: translateY(115%);
  }

  .tutorial-cards-example {
    width: 40vh;
  }

  .tutorial-boosters-example {
    width: 35vh;
  }

  #seventh-tutorial-screen>.tutorial-cards-info {
    transform: translateY(5vh);
  }

  .movable-container-mask {
    width: 6.5vh;
    height: 9vh;
    top: 20vh;
  }

  .movable-cards-column {
    width: 6.5vh;
    min-height: 9vh;
  }

  .tutorial-screen:first-child {
    height: 35vh;
  }
}

@media only screen and (orientation: landscape) {
  /* Cards sizes */

  .active-cards-container,
  .cards-container,
  .extra-cards-container,
  .card-element {
    width: 6vw;
    height: 8vw;
  }

  main {
    margin: 1vw;
  }

  .main-container {
    width: 70vw;
  }
}

@media screen and (min-aspect-ratio: 16/8) {
  main {
    transform-origin: top center;
    scale: 0.9;
  }
}

@media screen and (min-aspect-ratio: 16/7) {
  main {
    transform-origin: top center;
    scale: 0.8;
  }
}

.fade-hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}

.fade-visible {
  opacity: 1;
  visibility: visible;
  transition: visibility 0.2s ease, opacity 0.2s ease;
}