* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button.selected,
div.selected,
img.selected,
a.selected>button {
  filter: drop-shadow(0px 0px 0.5vw #42FDFF) drop-shadow(0px 0px 0.5vw #42FDFF);
}

@viewport {
  user-zoom: fixed;
}

html,
body {
  height: 100%;
}

body {
  background-image: url('../../Sprites/Backgrounds/Background_MainMenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}
.collection-screen {
  background-image: url('../../Sprites/Backgrounds/Background_MainMenu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collection-screen::-webkit-scrollbar {
  width: 0;
}

.back-to {
  display: block;
  width: min-content;
}

header {
  width: 100%;
  z-index: 100;
}

.header-interface-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-ui-container {
  display: flex;
  flex-direction: column;
}

.header-navigation-btn,
.level-btn {
  width: 4.5vw;
  height: 4.5vw;
  margin: 0.5vw;
  background: url('../../Sprites/Buttons/Used_Button_01.png');
  background-size: cover;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: start;
}

.header-navigation-list-icon {
  width: 2.5vw;
  margin-top: 20%;
}

/* cards container */

main {
  width: 97vw;
  overflow: hidden;
}

.collection-navigation {
  background: #e1569e;
  background: -moz-linear-gradient(top, #e1569e 0%, #ca39a1 50%, #a420a2 100%);
  background: -webkit-linear-gradient(top,
      #e1569e 0%,
      #ca39a1 50%,
      #a420a2 100%);
  background: linear-gradient(to bottom, #e1569e 0%, #ca39a1 50%, #a420a2 100%);
  border-radius: 2vh;
}

.collection-navigation>ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.categories-btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-btn {
  width: 90%;
  color: #fff6c6;
  background: none;
  border: none;
  font-size: 1.5vw;
  --target-font-size: 1.5vw;
  padding: 1vh;
  margin: 1vh auto;
  box-sizing: border-box;
  position: relative;
  height: 5vh;
}
.categories-btn-title{
  font-size: 1.5vw;
  --target-font-size: 1.5vw;
}

.categories-btn:hover {
  border: 1px solid #42e0e0;
  border-radius: 2vh;
  margin-top: -1px;
  margin-bottom: -1px;
}

.active-btn {
  border-radius: 2vh;
}

.active-btn::after {
  content: '___';
  position: absolute;
  bottom: -1vh;
  left: 50%;
  font-size: 6vh;
  --target-font-size: 6vh;
  transform: translate(-50%);
  color: #fff6c6;
}

.collection-pick-area {
  background-color: #ffffff49;
  border-radius: 2vh;
  border: 1px solid #ffffff49;
  min-height: 20vh;
  max-height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10vh;
  -webkit-box-shadow: 5px 5px 5px -5px #000000;
  box-shadow: 5px 5px 5px -5px #000000;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 96%;
  padding: 0 2%;
  overflow-y: scroll;
}

.lock-mask {
  position: absolute;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background-color: #0000007b;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 2vh;
}

.mask-title {
  color: #fff6c6;
  font-size: 1.6vh;
  --target-font-size: 1.6vh;
  font-weight: bold;
  text-align: center;
}

.card-skin {
  width: 22vh;
  margin: 0 2vw;
}

.trophy-skin {
  width: 15vh;
}

.skin-card,
.skin-card-back,
.background-card,
.trophy-card {
  background-color: #ffffff48;
  background-image: url('../../Sprites/Frames/Used_Frame_04.png');
  background-size: 150%;
  background-position: center;
  width: 18vh;
  border-radius: 2vh;
  border: 0.1vh solid #18ed00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
  margin: 2vh;
  position: relative;
}

.skin-card-back {
  height: 25vh;
  justify-content: flex-end;
  background-image: url('../../Sprites/Card Backs/Card_Backs.png');
}

.background-card {
  height: 20vh;
  width: 36vh;
  justify-content: flex-end;
  background-image: url('../../Sprites/Card Backs/Card_Backs.png');
}

.trophy-card {
  height: 25vh;
}

#cart-background-1 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_01.png');
}

#cart-background-2 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_02.png');
}

#cart-background-3 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_03.png');
}

#cart-background-4 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_04.png');
}

#cart-background-5 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_05.png');
}

#cart-background-6 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_06.png');
}

#cart-background-7 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_07.png');
}

#cart-background-8 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_08.png');
}

#cart-background-9 {
  background-image: url('../../Sprites/Backgrounds/Release/Background_09.png');
}

.check-icon,
.lock-icon {
  width: 7vh;
  z-index: 10;
}

.tonned {
  filter: brightness(70%);
}

.black {
  filter: brightness(0%);
  opacity: 30%;
}

.start-level-btn {
  border-radius: 1vh;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vh 0.7vh 2vh;
}

#pick-area-2>.start-level-btn {
  width: 100%;
}

.start-level-btn-title {
  font-weight: bold;
  color: #00000049;
  padding: 1.6vh 0;
}

#play-btn {
  background-image: url('../../Sprites/Buttons/Used_Button_03.png');
  font-size: 1.8vh;
  --target-font-size: 1.8vh;
}

.interactive-btn-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (orientation: landscape) {
  .collection-navigation {
    margin-bottom: 2vh;
    height: 7vh;
  }
  .start-level-btn {
    height: 6vh;
    width: 18vh;
  }
  .mask-title {
    height: 2vh;
  }
}

@media screen and (orientation: portrait) {
  .header-navigation-btn {
    width: 17vw;
    height: 17vw;
    margin: 2vw;
  }

  .header-navigation-list-icon {
    width: 9vw;
    margin-top: 20%;
  }

  main {
    width: 90vw;
  }

  .categories-btn {
    font-size: 4.5vw;
    --target-font-size: 4.5vw;
    height: 4vh;
    text-wrap: nowrap;
    width: 16vw;
    padding: 0;
  }
  .categories-btn-title{
    font-size: 4.5vw;
    --target-font-size: 4.5vw;
  }
  .active-btn::after {
    font-size: 4vh;
    --target-font-size: 4vh;
  }

  .collection-navigation {
    height: 6vh;
    border-radius: 2vh;
    margin-bottom: 2vh;
    box-shadow: 0px 3px 5px 2px #0000007d;
  }

  .skin-card,
  .skin-card-back,
  .trophy-card {
    width: 15vh;
  }

  .skin-card-back,
  .trophy-card {
    height: 20vh;
  }

  .card-skin {
    width: 20vh;
  }

  .check-icon {
    width: 6vh;
  }

  #play-btn {
    font-size: 1.5vh;
    --target-font-size: 1.5vh;
    width: 15vh;
    height: 6vh;
  }

  .mask-title {
    height: 2vh;
    font-size: 1.4vh;
    --target-font-size: 1.4vh;
  }

}

.hidden {
  display: none;
}